  <!-- Footer -->
  <footer class="main-footer">
    <div class="container">
    <div class="row">
     <div class="col-sm-3">
         <p><a class="footer-logo" href="index.html">Mark<span>Pet</span></a></p>
     </div>
     <div class="col-sm-9">
         <ul>
           <li><a href="index.ejs">Home</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="about.html">Nosotros</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="products.html">Productos</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="services.html">Servicios</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="shop.html">Shop</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="blog.html">Blog</a></li>
           <li><a class="hidden-xs" href="#">|</a></li>
           <li><a href="#contact">Contacto</a></li>
         </ul>
         <p>(C) 2022, All Rights Reserved, Designed by Grupo4</p>
     </div>
     </div>
     </div>
 </footer>