<header class="header">
    <!-- nav -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Mark<span>Pet</span></a>
        </div>
    
        <!-- nav links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> <span class="sr-only">(current)</span></a></li>
            <li><a href="about.html">Nosotros </a></li>
            <li><a href="shop.html">Shop </a></li>
            <li><a href="services.html">Servicios </a></li>
            <li><a href="blog.html">Blog </a></li>
            <li><a href="#contact">Contacto </a></li>
            <li><a href="login.html">Ingresá </a></li>
            <li><a href="productCart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav>
    <!-- nav End-->
    </header>
    <!-- Header End -->